<script src="https://cdn.jsdelivr.net/npm/@splidejs/splide@4.1.4/dist/js/splide.min.js"></script>
<link href="https://cdn.jsdelivr.net/npm/@splidejs/splide@4.1.4/dist/css/splide.min.css" rel="stylesheet">
<div class="parent">
    <div class="item item1">
        <div class="splide">
            <div class="splide__track">
                <ul class="splide__list">
                    {{#unless (lang 'item1.slide_1.link') '==' ' '}}
                        <li class="splide__slide">
                            <a href="{{lang 'item1.slide_1.link'}}">
                                {{#unless (lang 'item1.slide_1.text') '==' ' '}}
                                    <span class="text-abs-top">{{lang
                                'item1.slide_1.text'}}</span>
                                {{/unless}}
                                <img data-src="{{lang 'item1.slide_1.image'}}" alt="homepage category"
                                    src="{{cdn 'img/loading.svg'}}" class="lazyload" data-sizes="auto">
                            </a>
                        </li>
                    {{/unless}}
                    {{#unless (lang 'item1.slide_2.link') '==' ' '}}
                        <li class="splide__slide">
                            <a href="{{lang 'item1.slide_2.link'}}">
                                {{#unless (lang 'item1.slide_2.text') '==' ' '}}
                                    <span class="text-abs-top">{{lang
                                'item1.slide_2.text'}}</span>
                                {{/unless}}
                                <img data-src="{{lang 'item1.slide_2.image'}}" alt="homepage category"
                                    src="{{cdn 'img/loading.svg'}}" class="lazyload" data-sizes="auto">
                            </a>
                        </li>
                    {{/unless}}
                    {{#unless (lang 'item1.slide_3.link') '==' ' '}}
                        <li class="splide__slide">
                            <a href="{{lang 'item1.slide_3.link'}}">
                                {{#unless (lang 'item1.slide_3.text') '==' ' '}}
                                    <span class="text-abs-top">{{lang
                                'item1.slide_3.text'}}</span>
                                {{/unless}}
                                <img data-src="{{lang 'item1.slide_3.image'}}" alt="homepage category"
                                    src="{{cdn 'img/loading.svg'}}" class="lazyload" data-sizes="auto">
                            </a>
                        </li>
                    {{/unless}}
                </ul>
            </div>
        </div>
    </div>

    <div class="item item2">
        <div class="splide">
            <div class="splide__track">
                <ul class="splide__list">
                    {{#unless (lang 'item2.slide_1.link') '==' ' '}}
                        <li class="splide__slide">
                            <a href="{{lang 'item2.slide_1.link'}}">
                                {{#unless (lang 'item2.slide_1.text') '==' ' '}}
                                    <span class="text-abs-top">{{lang
                                'item2.slide_1.text'}}</span>
                                {{/unless}}
                                <img data-src="{{lang 'item2.slide_1.image'}}" alt="homepage category"
                                    src="{{cdn 'img/loading.svg'}}" class="lazyload" data-sizes="auto">
                            </a>
                        </li>
                    {{/unless}}
                    {{#unless (lang 'item2.slide_2.link') '==' ' '}}
                        <li class="splide__slide">
                            <a href="{{lang 'item2.slide_2.link'}}">
                                {{#unless (lang 'item2.slide_2.text') '==' ' '}}
                                    <span class="text-abs-top">{{lang
                                'item2.slide_2.text'}}</span>
                                {{/unless}}
                                <img data-src="{{lang 'item2.slide_2.image'}}" alt="homepage category"
                                    src="{{cdn 'img/loading.svg'}}" class="lazyload" data-sizes="auto">
                            </a>
                        </li>
                    {{/unless}}
                    {{#unless (lang 'item2.slide_3.link') '==' ' '}}
                        <li class="splide__slide">
                            <a href="{{lang 'item2.slide_3.link'}}">
                                {{#unless (lang 'item2.slide_3.text') '==' ' '}}
                                    <span class="text-abs-top">{{lang
                                'item2.slide_3.text'}}</span>
                                {{/unless}}
                                <img data-src="{{lang 'item2.slide_3.image'}}" alt="homepage category"
                                    src="{{cdn 'img/loading.svg'}}" class="lazyload" data-sizes="auto">
                            </a>
                        </li>
                    {{/unless}}
                </ul>
            </div>
        </div>
    </div>

    <div class="item item3">
        <div class="splide">
            <div class="splide__track">
                <ul class="splide__list">
                    {{#unless (lang 'item3.slide_1.link') '==' ' '}}
                        <li class="splide__slide">
                            <a href="{{lang 'item3.slide_1.link'}}">
                                {{#unless (lang 'item3.slide_1.text') '==' ' '}}
                                    <span class="text-abs-top">{{lang
                                'item3.slide_1.text'}}</span>
                                {{/unless}}
                                <img data-src="{{lang 'item3.slide_1.image'}}" alt="homepage category"
                                    src="{{cdn 'img/loading.svg'}}" class="lazyload" data-sizes="auto">
                            </a>
                        </li>
                    {{/unless}}
                    {{#unless (lang 'item3.slide_2.link') '==' ' '}}
                        <li class="splide__slide">
                            <a href="{{lang 'item3.slide_2.link'}}">
                                {{#unless (lang 'item3.slide_2.text') '==' ' '}}
                                    <span class="text-abs-top">{{lang
                                'item3.slide_2.text'}}</span>
                                {{/unless}}
                                <img data-src="{{lang 'item3.slide_2.image'}}" alt="homepage category"
                                    src="{{cdn 'img/loading.svg'}}" class="lazyload" data-sizes="auto">
                            </a>
                        </li>
                    {{/unless}}
                    {{#unless (lang 'item3.slide_3.link') '==' ' '}}
                        <li class="splide__slide">
                            <a href="{{lang 'item3.slide_3.link'}}">
                                {{#unless (lang 'item3.slide_3.text') '==' ' '}}
                                    <span class="text-abs-top">{{lang
                                'item3.slide_3.text'}}</span>
                                {{/unless}}
                                <img data-src="{{lang 'item3.slide_3.image'}}" alt="homepage category"
                                    src="{{cdn 'img/loading.svg'}}" class="lazyload" data-sizes="auto">
                            </a>
                        </li>
                    {{/unless}}
                </ul>
            </div>
        </div>
    </div>

    <div class="item item4">
        <div class="splide">
            <div class="splide__track">
                <ul class="splide__list">
                    {{#unless (lang 'item4.slide_1.link') '==' ' '}}
                        <li class="splide__slide">
                            <a href="{{lang 'item4.slide_1.link'}}">
                                {{#unless (lang 'item4.slide_1.text') '==' ' '}}
                                    <span class="text-abs-top">{{lang
                                'item4.slide_1.text'}}</span>
                                {{/unless}}
                                <img data-src="{{lang 'item4.slide_1.image'}}" alt="homepage category"
                                    src="{{cdn 'img/loading.svg'}}" class="lazyload" data-sizes="auto">
                            </a>
                        </li>
                    {{/unless}}
                    {{#unless (lang 'item4.slide_2.link') '==' ' '}}
                        <li class="splide__slide">
                            <a href="{{lang 'item4.slide_2.link'}}">
                                {{#unless (lang 'item4.slide_2.text') '==' ' '}}
                                    <span class="text-abs-top">{{lang
                                'item4.slide_2.text'}}</span>
                                {{/unless}}
                                <img data-src="{{lang 'item4.slide_2.image'}}" alt="homepage category"
                                    src="{{cdn 'img/loading.svg'}}" class="lazyload" data-sizes="auto">
                            </a>
                        </li>
                    {{/unless}}
                    {{#unless (lang 'item4.slide_3.link') '==' ' '}}
                        <li class="splide__slide">
                            <a href="{{lang 'item4.slide_3.link'}}">
                                {{#unless (lang 'item4.slide_3.text') '==' ' '}}
                                    <span class="text-abs-top">{{lang
                                'item4.slide_3.text'}}</span>
                                {{/unless}}
                                <img data-src="{{lang 'item4.slide_3.image'}}" alt="homepage category"
                                    src="{{cdn 'img/loading.svg'}}" class="lazyload" data-sizes="auto">
                            </a>
                        </li>
                    {{/unless}}
                </ul>
            </div>
        </div>
    </div>

    <div class="item item5">
        <div class="splide">
            <div class="splide__track">
                <ul class="splide__list">
                    {{#unless (lang 'item5.slide_1.link') '==' ' '}}
                        <li class="splide__slide">
                            <a href="{{lang 'item5.slide_1.link'}}">
                                {{#unless (lang 'item5.slide_1.text') '==' ' '}}
                                    <span class="text-abs-top">{{lang
                                'item5.slide_1.text'}}</span>
                                {{/unless}}
                                <img data-src="{{lang 'item5.slide_1.image'}}" alt="homepage category"
                                    src="{{cdn 'img/loading.svg'}}" class="lazyload" data-sizes="auto">
                            </a>
                        </li>
                    {{/unless}}
                    {{#unless (lang 'item5.slide_2.link') '==' ' '}}
                        <li class="splide__slide">
                            <a href="{{lang 'item5.slide_2.link'}}">
                                {{#unless (lang 'item5.slide_2.text') '==' ' '}}
                                    <span class="text-abs-top">{{lang
                                'item5.slide_2.text'}}</span>
                                {{/unless}}
                                <img data-src="{{lang 'item5.slide_2.image'}}" alt="homepage category"
                                    src="{{cdn 'img/loading.svg'}}" class="lazyload" data-sizes="auto">
                            </a>
                        </li>
                    {{/unless}}
                    {{#unless (lang 'item5.slide_3.link') '==' ' '}}
                        <li class="splide__slide">
                            <a href="{{lang 'item5.slide_3.link'}}">
                                {{#unless (lang 'item5.slide_3.text') '==' ' '}}
                                    <span class="text-abs-top">{{lang
                                'item5.slide_3.text'}}</span>
                                {{/unless}}
                                <img data-src="{{lang 'item5.slide_3.image'}}" alt="homepage category"
                                    src="{{cdn 'img/loading.svg'}}" class="lazyload" data-sizes="auto">
                            </a>
                        </li>
                    {{/unless}}
                </ul>
            </div>
        </div>
    </div>

    <div class="item item6">
        <div class="splide">
            <div class="splide__track">
                <ul class="splide__list">
                    {{#unless (lang 'item6.slide_1.link') '==' ' '}}
                        <li class="splide__slide">
                            <a href="{{lang 'item6.slide_1.link'}}">
                                {{#unless (lang 'item6.slide_1.text') '==' ' '}}
                                    <span class="text-abs-top">{{lang
                                'item6.slide_1.text'}}</span>
                                {{/unless}}
                                <img data-src="{{lang 'item6.slide_1.image'}}" alt="homepage category"
                                    src="{{cdn 'img/loading.svg'}}" class="lazyload" data-sizes="auto">
                            </a>
                        </li>
                    {{/unless}}
                    {{#unless (lang 'item6.slide_2.link') '==' ' '}}
                        <li class="splide__slide">
                            <a href="{{lang 'item6.slide_2.link'}}">
                                {{#unless (lang 'item6.slide_2.text') '==' ' '}}
                                    <span class="text-abs-top">{{lang
                                'item6.slide_2.text'}}</span>
                                {{/unless}}
                                <img data-src="{{lang 'item6.slide_2.image'}}" alt="homepage category"
                                    src="{{cdn 'img/loading.svg'}}" class="lazyload" data-sizes="auto">
                            </a>
                        </li>
                    {{/unless}}
                    {{#unless (lang 'item6.slide_3.link') '==' ' '}}
                        <li class="splide__slide">
                            <a href="{{lang 'item6.slide_3.link'}}">
                                {{#unless (lang 'item6.slide_3.text') '==' ' '}}
                                    <span class="text-abs-top">{{lang
                                'item6.slide_3.text'}}</span>
                                {{/unless}}
                                <img data-src="{{lang 'item6.slide_3.image'}}" alt="homepage category"
                                    src="{{cdn 'img/loading.svg'}}" class="lazyload" data-sizes="auto">
                            </a>
                        </li>
                    {{/unless}}
                </ul>
            </div>
        </div>
    </div>

    <div class="item item7">
        <div class="splide">
            <div class="splide__track">
                <ul class="splide__list">
                    {{#unless (lang 'item7.slide_1.link') '==' ' '}}
                        <li class="splide__slide">
                            <a href="{{lang 'item7.slide_1.link'}}">
                                {{#unless (lang 'item7.slide_1.text') '==' ' '}}
                                    <span class="text-abs-top">{{lang
                                'item7.slide_1.text'}}</span>
                                {{/unless}}
                                <img data-src="{{lang 'item7.slide_1.image'}}" alt="homepage category"
                                    src="{{cdn 'img/loading.svg'}}" class="lazyload" data-sizes="auto">
                            </a>
                        </li>
                    {{/unless}}
                    {{#unless (lang 'item7.slide_2.link') '==' ' '}}
                        <li class="splide__slide">
                            <a href="{{lang 'item7.slide_2.link'}}">
                                {{#unless (lang 'item7.slide_2.text') '==' ' '}}
                                    <span class="text-abs-top">{{lang
                                'item7.slide_2.text'}}</span>
                                {{/unless}}
                                <img data-src="{{lang 'item7.slide_2.image'}}" alt="homepage category"
                                    src="{{cdn 'img/loading.svg'}}" class="lazyload" data-sizes="auto">
                            </a>
                        </li>
                    {{/unless}}
                    {{#unless (lang 'item7.slide_3.link') '==' ' '}}
                        <li class="splide__slide">
                            <a href="{{lang 'item7.slide_3.link'}}">
                                {{#unless (lang 'item7.slide_3.text') '==' ' '}}
                                    <span class="text-abs-top">{{lang
                                'item7.slide_3.text'}}</span>
                                {{/unless}}
                                <img data-src="{{lang 'item7.slide_3.image'}}" alt="homepage category"
                                    src="{{cdn 'img/loading.svg'}}" class="lazyload" data-sizes="auto">
                            </a>
                        </li>
                    {{/unless}}
                </ul>
            </div>
        </div>
    </div>

    <div class="item item8">
        <div class="splide">
            <div class="splide__track">
                <ul class="splide__list">
                    {{#unless (lang 'item8.slide_1.link') '==' ' '}}
                        <li class="splide__slide">
                            <a href="{{lang 'item8.slide_1.link'}}">
                                {{#unless (lang 'item8.slide_1.text') '==' ' '}}
                                    <span class="text-abs-top">{{lang
                                'item8.slide_1.text'}}</span>
                                {{/unless}}
                                <img data-src="{{lang 'item8.slide_1.image'}}" alt="homepage category"
                                    src="{{cdn 'img/loading.svg'}}" class="lazyload" data-sizes="auto">
                            </a>
                        </li>
                    {{/unless}}
                    {{#unless (lang 'item8.slide_2.link') '==' ' '}}
                        <li class="splide__slide">
                            <a href="{{lang 'item8.slide_2.link'}}">
                                {{#unless (lang 'item8.slide_2.text') '==' ' '}}
                                    <span class="text-abs-top">{{lang
                                'item8.slide_2.text'}}</span>
                                {{/unless}}
                                <img data-src="{{lang 'item8.slide_2.image'}}" alt="homepage category"
                                    src="{{cdn 'img/loading.svg'}}" class="lazyload" data-sizes="auto">
                            </a>
                        </li>
                    {{/unless}}
                    {{#unless (lang 'item8.slide_3.link') '==' ' '}}
                        <li class="splide__slide">
                            <a href="{{lang 'item8.slide_3.link'}}">
                                {{#unless (lang 'item8.slide_3.text') '==' ' '}}
                                    <span class="text-abs-top">{{lang
                                'item8.slide_3.text'}}</span>
                                {{/unless}}
                                <img data-src="{{lang 'item8.slide_3.image'}}" alt="homepage category"
                                    src="{{cdn 'img/loading.svg'}}" class="lazyload" data-sizes="auto">
                            </a>
                        </li>
                    {{/unless}}
                </ul>
            </div>
        </div>
    </div>

    <div class="item item9">
        <div class="splide">
            <div class="splide__track">
                <ul class="splide__list">
                    {{#unless (lang 'item9.slide_1.link') '==' ' '}}
                        <li class="splide__slide">
                            <a href="{{lang 'item9.slide_1.link'}}">
                                {{#unless (lang 'item9.slide_1.text') '==' ' '}}
                                    <span class="text-abs-top">{{lang
                                'item9.slide_1.text'}}</span>
                                {{/unless}}
                                <img data-src="{{lang 'item9.slide_1.image'}}" alt="homepage category"
                                    src="{{cdn 'img/loading.svg'}}" class="lazyload" data-sizes="auto">
                            </a>
                        </li>
                    {{/unless}}
                    {{#unless (lang 'item9.slide_2.link') '==' ' '}}
                        <li class="splide__slide">
                            <a href="{{lang 'item9.slide_2.link'}}">
                                {{#unless (lang 'item9.slide_2.text') '==' ' '}}
                                    <span class="text-abs-top">{{lang
                                'item9.slide_2.text'}}</span>
                                {{/unless}}
                                <img data-src="{{lang 'item9.slide_2.image'}}" alt="homepage category"
                                    src="{{cdn 'img/loading.svg'}}" class="lazyload" data-sizes="auto">
                            </a>
                        </li>
                    {{/unless}}
                    {{#unless (lang 'item9.slide_3.link') '==' ' '}}
                        <li class="splide__slide">
                            <a href="{{lang 'item9.slide_3.link'}}">
                                {{#unless (lang 'item9.slide_3.text') '==' ' '}}
                                    <span class="text-abs-top">{{lang
                                'item9.slide_3.text'}}</span>
                                {{/unless}}
                                <img data-src="{{lang 'item9.slide_3.image'}}" alt="homepage category"
                                    src="{{cdn 'img/loading.svg'}}" class="lazyload" data-sizes="auto">
                            </a>
                        </li>
                    {{/unless}}
                </ul>
            </div>
        </div>
    </div>

    <div class="item item10">
        <div class="splide">
            <div class="splide__track">
                <ul class="splide__list">
                    {{#unless (lang 'item10.slide_1.link') '==' ' '}}
                        <li class="splide__slide">
                            <a href="{{lang 'item10.slide_1.link'}}">
                                {{#unless (lang 'item10.slide_1.text') '==' ' '}}
                                    <span class="text-abs-top">{{lang
                                'item10.slide_1.text'}}</span>
                                {{/unless}}
                                <img data-src="{{lang 'item10.slide_1.image'}}" alt="homepage category"
                                    src="{{cdn 'img/loading.svg'}}" class="lazyload" data-sizes="auto">
                            </a>
                        </li>
                    {{/unless}}
                    {{#unless (lang 'item10.slide_2.link') '==' ' '}}
                        <li class="splide__slide">
                            <a href="{{lang 'item10.slide_2.link'}}">
                                {{#unless (lang 'item10.slide_2.text') '==' ' '}}
                                    <span class="text-abs-top">{{lang
                                'item10.slide_2.text'}}</span>
                                {{/unless}}
                                <img data-src="{{lang 'item10.slide_2.image'}}" alt="homepage category"
                                    src="{{cdn 'img/loading.svg'}}" class="lazyload" data-sizes="auto">
                            </a>
                        </li>
                    {{/unless}}
                    {{#unless (lang 'item10.slide_3.link') '==' ' '}}
                        <li class="splide__slide">
                            <a href="{{lang 'item10.slide_3.link'}}">
                                {{#unless (lang 'item10.slide_3.text') '==' ' '}}
                                    <span class="text-abs-top">{{lang
                                'item10.slide_3.text'}}</span>
                                {{/unless}}
                                <img data-src="{{lang 'item10.slide_3.image'}}" alt="homepage category"
                                    src="{{cdn 'img/loading.svg'}}" class="lazyload" data-sizes="auto">
                            </a>
                        </li>
                    {{/unless}}
                </ul>
            </div>
        </div>
    </div>
    <div class="item item11">
        <div class="splide">
            <div class="splide__track">
                <ul class="splide__list">
                    {{#unless (lang 'item11.slide_1.link') '==' ' '}}
                        <li class="splide__slide">
                            <a href="{{lang 'item11.slide_1.link'}}">
                                {{#unless (lang 'item11.slide_1.text') '==' ' '}}
                                    <span class="text-abs-top">{{lang
                                'item11.slide_1.text'}}</span>
                                {{/unless}}
                                <img data-src="{{lang 'item11.slide_1.image'}}" alt="homepage category"
                                    src="{{cdn 'img/loading.svg'}}" class="lazyload" data-sizes="auto">
                            </a>
                        </li>
                    {{/unless}}
                    {{#unless (lang 'item11.slide_2.link') '==' ' '}}
                        <li class="splide__slide">
                            <a href="{{lang 'item10.slide_2.link'}}">
                                {{#unless (lang 'item11.slide_2.text') '==' ' '}}
                                    <span class="text-abs-top">{{lang
                                'item11.slide_2.text'}}</span>
                                {{/unless}}
                                <img data-src="{{lang 'item11.slide_2.image'}}" alt="homepage category"
                                    src="{{cdn 'img/loading.svg'}}" class="lazyload" data-sizes="auto">
                            </a>
                        </li>
                    {{/unless}}
                    {{#unless (lang 'item11.slide_3.link') '==' ' '}}
                        <li class="splide__slide">
                            <a href="{{lang 'item11.slide_3.link'}}">
                                {{#unless (lang 'item11.slide_3.text') '==' ' '}}
                                    <span class="text-abs-top">{{lang
                                'item11.slide_3.text'}}</span>
                                {{/unless}}
                                <img data-src="{{lang 'item11.slide_3.image'}}" alt="homepage category"
                                    src="{{cdn 'img/loading.svg'}}" class="lazyload" data-sizes="auto">
                            </a>
                        </li>
                    {{/unless}}
                </ul>
            </div>
        </div>
    </div>
    <div class="item item12">
        <div class="splide">
            <div class="splide__track">
                <ul class="splide__list">
                    {{#unless (lang 'item12.slide_1.link') '==' ' '}}
                        <li class="splide__slide">
                            <a href="{{lang 'item12.slide_1.link'}}">
                                {{#unless (lang 'item12.slide_1.text') '==' ' '}}
                                    <span class="text-abs-top">{{lang
                                'item12.slide_1.text'}}</span>
                                {{/unless}}
                                <img data-src="{{lang 'item12.slide_1.image'}}" alt="homepage category"
                                    src="{{cdn 'img/loading.svg'}}" class="lazyload" data-sizes="auto">
                            </a>
                        </li>
                    {{/unless}}
                    {{#unless (lang 'item12.slide_2.link') '==' ' '}}
                        <li class="splide__slide">
                            <a href="{{lang 'item12.slide_2.link'}}">
                                {{#unless (lang 'item12.slide_2.text') '==' ' '}}
                                    <span class="text-abs-top">{{lang
                                'item12.slide_2.text'}}</span>
                                {{/unless}}
                                <img data-src="{{lang 'item12.slide_2.image'}}" alt="homepage category"
                                    src="{{cdn 'img/loading.svg'}}" class="lazyload" data-sizes="auto">
                            </a>
                        </li>
                    {{/unless}}
                    {{#unless (lang 'item12.slide_3.link') '==' ' '}}
                        <li class="splide__slide">
                            <a href="{{lang 'item12.slide_3.link'}}">
                                {{#unless (lang 'item12.slide_3.text') '==' ' '}}
                                    <span class="text-abs-top">{{lang
                                'item12.slide_3.text'}}</span>
                                {{/unless}}
                                <img data-src="{{lang 'item12.slide_3.image'}}" alt="homepage category"
                                    src="{{cdn 'img/loading.svg'}}" class="lazyload" data-sizes="auto">
                            </a>
                        </li>
                    {{/unless}}
                </ul>
            </div>
        </div>
    </div>
</div>
<script>
    document.addEventListener("DOMContentLoaded", function () {
        document.querySelectorAll('.splide').forEach(function (el) {

            const slideCount = el.querySelectorAll('.splide__slide').length;

            const splide = new Splide(el, {
                type: slideCount > 2 ? 'loop' : 'slide',
                arrows: slideCount > 1,
                pagination: false,
                rewind: slideCount === 2,
                perPage: 1,
                autoHeight: true,
            });

            splide.on('mounted move', function () {

                const prev = el.querySelector('.splide__arrow--prev');
                const next = el.querySelector('.splide__arrow--next');

                // 1 slide → hide all arrows
                if (slideCount <= 1) {
                    if (prev) prev.style.display = 'none';
                    if (next) next.style.display = 'none';
                }

                // 2 slides → hide left arrow only when on first slide
                if (slideCount === 2) {
                    if (prev) prev.style.display = splide.index === 0 ? 'none' : '';
                    if (next) next.style.display = splide.index === 1 ? 'none' : '';
                }

                // 3+ slides → always show both arrows
                if (slideCount > 2) {
                    if (prev) prev.style.display = '';
                    if (next) next.style.display = '';
                }

            });

            splide.mount();
        });
    });
</script>
<style>
    .parent {
        display: grid;
        grid-template-columns: repeat(4, 1fr);
        grid-template-rows: auto;
        gap: 12px;
        height: auto;

        grid-template-areas:
                "one     two     three   four"
                "five    six     seven   eight"
                "nine    ten     eleven  twelve";
    }

    /* Assign areas */

    .item1 {
        grid-area: one;
    }

    .item2 {
        grid-area: two;
    }

    .item3 {
        grid-area: three;
    }

    .item4 {
        grid-area: four;
    }

    .item5 {
        grid-area: five;
    }

    .item6 {
        grid-area: six;
    }

    .item7 {
        grid-area: seven;
    }

    .item8 {
        grid-area: eight;
    }

    .item9 {
        grid-area: nine;
    }

    .item10 {
        grid-area: ten;
    }
    .item11{
        grid-area:eleven;
    }
    .item12{
        grid-area:twelve;
    }

    /* Image styling */

    .item {
        display: flex;
    }

    .item .splide__track {
        height: 100%;
    }

    .item .splide__slide {
        @media(max-width:550px) {
            display: flex !important;
            align-items: center !important;
        }
    }

    .item img {
        width: 100%;
        height: 100%;

        @media(max-width:550px) {
            height: auto !important;
            object-fit: contain !important;
        }
        object-fit: {{lang 'slide_image_layout'}};
        object-position: top;
        display: block;
    }

    .splide__arrow {
        background: transparent !important;
        opacity: 1 !important;
    }

    .splide__arrow--next {
        right: 0em !important;
    }

    .splide__arrow--prev {
        left: 0em !important;
    }

    .splide__arrow svg {
        width: 3.2em;
        height: 3.2em;
        fill: black;
    }

    /* =========================
   ≤ 980px → 2 columns
========================= */
    @media (max-width: 980px) {

        .parent {
            grid-template-columns: repeat(3, 1fr);
            grid-template-rows: auto;
            height: auto;

            grid-template-areas:
                "one   two three"
                "four five six"
                "seven eight nine"
                "ten eleven twelve";
        }

    }


    /* =========================
   ≤ 500px → 1 column
========================= */
    @media (max-width: 550px) {

        .parent {
            grid-template-columns:1fr 1fr;
            grid-template-areas:
               "one two"
               "three four"
               "five six"
               "seven eight"
               "nine ten"
               "eleven twelve";
        }

    }
</style>
