{{#partial "page"}}
    <div class="login">

        
        <div class="account-container">
            <div class="cols custom-col-right">
                <img clas="lazyload login-image" data-src="{{cdn 'img/loading.svg'}}" src="{{cdn 'img/coming-soon-v2.jpg'}}" alt="coming soon"> 
            </div>
           <div class="cols custom-col-left">
            {{> components/common/breadcrumbs breadcrumbs=breadcrumbs}}
         
            {{#if forms.login.error}}
                {{> components/common/alert-error forms.login.error}}
            {{/if}}
            {{#if forms.login.success}}
                {{> components/common/alert-success forms.login.success}}
            {{/if}}
            <div class="login-row">
                <h1 class="page-heading">{{lang 'login.heading' }}</h1>
                {{> components/f/auth/login-form}}
                {{#if settings.account_creation_enabled}}
                    <div class="new-customer">
                        <div class="panel">
                            <div class="panel-header">
                                <h2 class="panel-title">{{lang 'login.new_customer.heading' }}</h2>
                            </div>
                            <div class="panel-body">
                                <p class="new-customer-intro">{{lang 'login.new_customer.intro' }}</p>
                                <ul class="new-customer-fact-list">
                                    <li class="new-customer-fact">{{lang 'login.new_customer.fact1' }}</li>
                                    <li class="new-customer-fact">{{lang 'login.new_customer.fact2' }}</li>
                                    <li class="new-customer-fact">{{lang 'login.new_customer.fact3' }}</li>
                                    <li class="new-customer-fact">{{lang 'login.new_customer.fact4' }}</li>
                                    <li class="new-customer-fact">{{lang 'login.new_customer.fact5' }}</li>
                                </ul>
                                <a href="{{urls.auth.create_account}}"><button class="button button--primary">{{lang 'login.new_customer.create_account' }}</button></a>
                            </div>
                        </div>
                    </div>
                {{/if}}
            </div>
           </div>
        </div>
    </div>
{{/partial}}
{{> layout/base}}
